<!---->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button type="button" defaultHref="/tabs/services" text="Back"></ion-back-button>
      </ion-buttons>
    <ion-title>{{serviceName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm"  (ngSubmit)="saveWO(form)">
  <ion-list>
    <ion-item detail *ngFor="let service of servicedetail">
      <ion-label  position="stacked" >{{service.fieldlabel}}</ion-label>

      <div [ngSwitch]="service.uitype">
        <!--uitype = 10-->
        <ion-text *ngSwitchCase="10">{{service.value}} </ion-text>

        <!--uitype = 56-->
        <div *ngSwitchCase="56">
          <ion-checkbox *ngIf="service.value == 1" checked="true">{{service.value}} </ion-checkbox>
          <ion-checkbox  *ngIf="service.value != 1">{{service.value}} </ion-checkbox>
        </div>

        <!--uitype = 19.20-->
        <ion-textarea auto-grow="true" name="{{service.columnname}}" rows="3" *ngSwitchCase="19">{{service.value}}</ion-textarea>
        <ion-textarea auto-grow="true" name="{{service.columnname}}" rows="3" *ngSwitchCase="20">{{service.value}}</ion-textarea>

        <!--uitype = 15.16-->
        <ion-select  *ngSwitchCase="16" name="{{service.columnname}}"  value="{{service.value}}">
          <ion-select-option *ngFor="let picklist of service.picklist">{{picklist}}</ion-select-option>
        </ion-select>
        <ion-select  *ngSwitchCase="15" name="{{service.columnname}}"  value="{{service.value}}">
          <ion-select-option *ngFor="let picklist of service.picklist">{{picklist}}</ion-select-option>
        </ion-select>
        <!--uitype = 33-->
        <ion-select  *ngSwitchCase="33" name="{{service.columnname}}" multiple="true">
          <ion-select-option *ngFor="let picklist of service.picklist" >{{picklist}}</ion-select-option>
        </ion-select>
        <!--else-->
        <ion-input type="text" name="{{service.columnname}}" *ngSwitchDefault>{{service.value}}</ion-input>
      </div>
    </ion-item>
    <br><br><br><br><br>
</ion-list>
    <div class="button-grouping ion-padding anchor-bottom" >
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center" >
          <ion-col class="padding-left-none" size="9">
            <ion-button expand="full" size="large" expand="block" color="tertiary"  (click)="openCamera(servicedetail.serviceid)">
              <ion-icon name="camera"></ion-icon>
              <ion-text class="add-photo-button">
                Take Photos
              </ion-text>
            </ion-button>
          </ion-col>
          <ion-col size="3">
            <ion-button size="large" expand="block" color="tertiary"  (click)="openLibrary(servicedetail.serviceid)">
              <ion-icon name="albums"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
<!--
-->
