.service-details-div{

}
.service-details-grid{
    --ion-grid-padding: 1px;
}
ion-col > p.st, ion-col > p.et {
    color: grey;
}
ion-note.status{
    border: 1px solid;
    border-radius: 50px;
    padding: 10px;
    color: white;
    --padding: 10px;
    --padding-bottom: 10px;
    padding-bottom: 10px;
}

ion-badge.status{
    padding: 10px;
    border-radius: 50px;
}

ion-text.status-text{
    color: white !important;
}
p.comment{
    white-space: normal;
}