<ion-header>
    <ion-toolbar text-center>
        <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                ID : {{modelId}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button (click)="closeModal()">Close Modal</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-app>
        <ion-header translucent>
            <ion-toolbar>
                <ion-title> Edit Photo</ion-title>
            </ion-toolbar>
        </ion-header>,
        <ion-content fullscreen>
            <ion-card>
                <img src="./madison.jpg" />
                <ion-card-header>
                    <ion-card-subtitle>Title</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-button size="small" color="primary">Antenna</ion-button>
                    <ion-button size="small" color="primary">Body</ion-button>
                    <ion-button size="small" color="primary">Before</ion-button>
                    <ion-button size="small" color="primary">After</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-content>
    </ion-app>
    <div class="button-grouping ion-padding">
        <ion-button size="large" expand="block" color="primary">
            <ion-text>Save</ion-text>
        </ion-button>
    </div>
</ion-content>