<ion-header>
    <ion-toolbar text-center>
        <ion-title>{{modalTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
         <img src="{{base64Image}}" />
         <ion-card-header>
             <ion-card-subtitle>Title</ion-card-subtitle>
         </ion-card-header>
         <ion-card-content>
             <ion-button size="small" color="secondary">Antenna</ion-button>
             <ion-button size="small" color="secondary">Body</ion-button>
             <ion-button size="small" color="secondary">Before</ion-button>
             <ion-button size="small" color="secondary">After</ion-button>
         </ion-card-content>
    </ion-card>
    <div class="button-grouping ion-padding">
        <ion-button size="large" expand="block" color="secondary">
            <ion-text>Save</ion-text>
        </ion-button>
    </div>
</ion-content>