.card-background-page {
    .rooms{
        height: 100%;

        ion-card {
        position: relative;
        text-align: center;
        height: 30%;
            img{
                height: 100%;
            }
        }
    
        .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        }
    
        .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
        }

        
        .glossy{
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(199, 199, 199, 0.5), rgba(0, 0, 0,.5));
        }
    }
}

.street-title, .pseudo-title{
    display:block;
    background: var(--ion-color-dark-contrast);
    color: var(--ion-color-dark);
}
.street-title{
    font-size: 1.5em;
}
.add-white{
    background: white;
}

.static{
    position: relative;
}
.ion-padding-top, [padding-top] {
    --padding-top: var(--ion-padding, 8px);
    padding-top: var(--ion-padding, 8px);
}
.ion-padding-bottom, [padding-bottom] {
    --padding-bottom: var(--ion-padding, 8px);
    padding-bottom: var(--ion-padding, 8px);
}

.co-drop-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.ion-margin-top-extra{
    --margin-top: var(--ion-margin, 48px);
    margin-top: var(--ion-margin, 48px);
}

.ion-margin-bottom-extra{
    --margin-bottom: var(--ion-margin, 48px);
    margin-bottom: var(--ion-margin, 48px);
}