<ion-card *ngFor="let property of properties" (click)="detailView(property)">
  <img src="../../assets/img/advance-card-map-madison.png">
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button>
      <ion-icon name="pin"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item>
    <ion-icon name="home" item-start large></ion-icon>
    <ion-card-header>
      <ion-card-title>{{property.contact_name}}</ion-card-title>
      <ion-card-subtitle>{{property.street}}, {{property.city}}, {{property.state}} {{property.zip}}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>

  <ion-item>
    <span item-start>{{property.travel_time_m}} min&nbsp;</span>
    <span item-start>({{property.miles}} mi)</span>
    <ion-fab horizontal="end">
      <ion-button ion-button icon-start clear item-end>
        <ion-icon name="navigate"></ion-icon>
        Start
      </ion-button>
    </ion-fab>

  </ion-item>
</ion-card>