<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" class="profile-top">
    <ion-avatar item-start>
      <img *ngIf="userinfo?.pic !== ''" src="{{userinfo.pic}}">
      <ion-icon *ngIf="userinfo?.pic == ''" name="contact" size="large" ></ion-icon>
    </ion-avatar>
    <p>&nbsp; Hello there, {{userinfo.firstname}}!</p>
  </ion-item>

  <ion-list class="profile-bottom">

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-text>{{userinfo.firstname}} {{userinfo.lastname}}</ion-text>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Organization</ion-label>
      <ion-text>{{userinfo.organization}}</ion-text>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Mobile</ion-label>
      <ion-text>{{userinfo.phone}}</ion-text>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center" >
          <ion-col class="padding-left-none">
            <ion-label position="stacked">Current Theme <br/> (Tap to change)</ion-label> 
          </ion-col>
          <ion-col>
            <ion-button id="themecolor" *ngIf="userinfo?.theme=='Dark'" type="button" size="default" color="dark" (click)="switchTheme()"><ion-icon name="color-palette"></ion-icon>&nbsp; {{userinfo.theme}}</ion-button>
            <ion-button id="themecolor" *ngIf="userinfo?.theme=='Light'" type="button" size="default" color="dark" (click)="switchTheme()"><ion-icon name="color-palette"></ion-icon>&nbsp; {{userinfo.theme}}</ion-button>
          </ion-col>          
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item class="profile-bottom">
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea *ngIf="userinfo?.notes !== ''" value="{{userinfo.notes}}" name="usernotes"></ion-textarea>
      <ion-textarea *ngIf="userinfo?.notes == ''" placeholder="Jot something down" name="usernotes"></ion-textarea>
    </ion-item>

  </ion-list>
  <ion-button (click)="logout()" color="danger" routerDirection="root"><ion-icon name="log-out"></ion-icon> &nbsp; Logout</ion-button>
</ion-content>
