ion-textarea{
    font-size: .9rem !important;
    --font-size: .9rem !important;
    --ion-font-size: .9rem !important;
}
.profile-top{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.profile-bottom{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.ion-no-padding{
    margin: 0;
}
.padding-left-none{
    padding-left: 0;
}

.date-title{
    padding-top: 23px;
}

.monthview-current{
    color: var(--ion-color-light-contrast);
}

.monthview-selected{
    background-color: var(--ion-color-primary) !important;
    --background-color: var(--ion-color-primary) !important;
}
.event-detail{
    font-size: small !important;
}