.gallery{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.galleryimage{
    padding: 5px;
    -webkit-margin-start: 0px; 
    margin-inline-start: 0x;
    -webkit-margin-end: 0px; 
    margin-inline-end: 0px;
}

.na{
    text-overflow: unset;
    white-space: normal;
    padding: unset;
}