<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-back-button type="button" defaultHref="/tabs/tab3" text="Rooms"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button type="button" text="Edit Photos">
        <ion-text>Edit Photos</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-title>{{roomdata.room | titlecase}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="launchCamera()" text="Add Photos"><ion-icon name="add"></ion-icon><ion-text>Add Photos</ion-text></ion-button>
  <div class="gallery" *ngIf="propertypics?.length > 0">    
    <span class="galleryimage" *ngFor="let image of propertypics">
      <ion-img [src]="image" width="150px"></ion-img>
    </span>
  </div>
  <div class="not-available" *ngIf="propertypics?.length == 0">
      <ion-title class="na">There are currently no images for this room</ion-title>
  </div>
</ion-content>
